<h3>Get Sauced Again!</h3>
<%=form_for @user do |f|%>
  <%=f.label :name%>
  <%=f.text_field :name%>
  <%=f.label :meal%>
  <%=f.collection_select :meal_id, Meal.all, :id, :name%>
  <%=f.submit "Get Sauced!"%>
<%end%>
